@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Fjalla+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

header {
  background-color: #1e1e24;
  display: flex;
  justify-content: center;
  padding: 6% 20%;
  align-items: center; }
  header .nav_links {
    list-style: none;
    display: flex; }
  header .nav_links li {
    display: inline-block;
    padding: 0px 15px; }
  header .nav_links li a {
    transition: all 0.3s ease 0s; }
    header .nav_links li a:hover {
      color: #49c6e5; }
  header li a {
    font-family: "Fjalla One", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #f7f0f0;
    text-decoration: none; }

button {
  font-family: "Fjalla One", sans-serif;
  color: #f7f0f0;
  font-weight: 500;
  font-size: 16px;
  padding: 5%;
  border: none;
  border-radius: 20%;
  background-color: #0b7a75;
  cursor: pointer;
  transition: all 0.3s ease 0s; }
  button:hover {
    color: #1e1e24; }

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .nav_links {
    flex-direction: column;
    font-size: 10px; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
body,
html {
  height: 100%; }

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imgs/banner2.png");
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }

.banner {
  background-image: url("../assets/imgs/banner3.png");
  width: 60%;
  min-height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 6%; }

.banner2 {
  background-image: url("../assets/imgs/bannner4.png");
  width: 60%;
  min-height: 515px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.firstinfo.container {
  display: flex;
  margin-top: 6%; }

.secondinfo.container {
  display: flex; }

.index {
  flex: 1 0 0%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e24;
  margin: 2px; }

.index {
  transition: all 0.3s ease 0s; }
  .index:hover {
    cursor: pointer; }

.index p {
  font-family: "Fjalla One", sans-serif;
  color: #f7f0f0;
  text-align: center; }

.index h4 {
  font-family: "Cairo", sans-serif;
  color: #f7f0f0;
  text-align: center;
  width: 40%; }

.col img {
  width: 100%; }

.textinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%; }

.textinfo img {
  width: 4%; }

.text_info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center; }

footer {
  padding: 6% 20%;
  background-color: #1e1e24; }

footer p {
  display: flex;
  justify-content: center;
  color: #f7f0f0;
  font-family: "Fjalla One", sans-serif; }

.lfgmain {
  margin-top: 3%; }

.lfgtext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.lfg {
  display: flex; }

.lfg.col {
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%; }

.lfg img {
  width: 20%; }

.lfg p {
  text-align: center; }

.lfg2 {
  display: flex; }

.lfg2.col {
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%; }

.lfg2 img {
  width: 20%; }

.lfg2 p {
  text-align: center; }

.mainbox.container {
  margin-top: 10%; }

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center; }

.boxgeneral.container {
  display: flex; }

.box {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  position: relative; }

.box img {
  width: 100%;
  max-height: 350px;
  object-fit: cover; }

.boxtext {
  width: 85%;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 5%;
  top: 270; }

.video {
  display: flex;
  width: 100%;
  justify-content: center; }
