@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Fjalla+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

header {
  background-color: #1e1e24;
  display: flex;
  justify-content: center;
  padding: 4% 20%;
  align-items: center; }
  header .nav_links {
    list-style: none;
    display: flex; }
  header .nav_links li {
    display: inline-block;
    padding: 0px 15px; }
  header .nav_links li a {
    transition: all 0.3s ease 0s; }
    header .nav_links li a:hover {
      color: #49c6e5; }
  header li a {
    font-family: "Fjalla One", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #f7f0f0;
    text-decoration: none; }

button {
  font-family: "Fjalla One", sans-serif;
  color: #f7f0f0;
  font-weight: 500;
  font-size: 16px;
  padding: 5%;
  border: none;
  border-radius: 20%;
  background-color: #0b7a75;
  cursor: pointer;
  transition: all 0.3s ease 0s; }
  button:hover {
    color: #1e1e24; }

@media screen and (max-width: 480px) {
  header {
    padding: 2rem; }
  .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; }
  .nav_links li a {
    font-size: 12px; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.banner__hero {
  background-image: url("../assets/imgs/mainbanner.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

.banner__hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.banner__hero__text h5 {
  font-family: "Fjalla One", sans-serif;
  color: #f7f0f0; }

.banner__hero__text h2 {
  font-family: "Fjalla One", sans-serif;
  color: #f7f0f0; }

.banner2__hero {
  background-image: url("../assets/imgs/montañita.jpg");
  height: 30vh;
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
  overflow: hidden; }

@media screen and (max-width: 480px) {
  .banner__hero {
    max-height: 235px; }
  .banner__hero__text {
    top: 200px; }
  .banner2__hero {
    margin-top: 0rem; } }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.main__grid {
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item1 item2" "item1 item3";
  gap: 2rem;
  overflow: hidden; }

.grid__item {
  background-size: cover;
  background-position: center center;
  padding: 2rem; }

.grid__item1 {
  grid-area: item1;
  background-image: url("../assets/imgs/gallery7.jpg");
  height: 400px; }
  .grid__item1 .grid__item1 h5 {
    color: #1e1e24; }

.grid__item h5 {
  font-family: "Fjalla One", sans-serif;
  color: #f7f0f0;
  font-weight: 300;
  font-size: 1.2rem; }

.grid__item h4 {
  font-family: "Cairo", sans-serif;
  color: #f7f0f0;
  font-weight: 300;
  font-family: 1.6rem; }

.grid__item2 {
  grid-area: item2;
  background-image: url("../assets/imgs/gallery12.jpg"); }

.grid__item3 {
  grid-area: item3;
  background-image: url("../assets/imgs/gallery13.jpg"); }

@media screen and (max-width: 480px) {
  .main__grid {
    display: flex;
    flex-direction: column;
    padding: 2rem; }
  .grid__item {
    flex: 1; }
  .grid__item1 {
    padding-bottom: 6rem; } }

.main__index {
  padding: 6rem;
  padding: 0; }

.titles {
  padding-inline: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.titles h4 {
  font-family: "Fjalla One", sans-serif;
  background-color: #49c6e5;
  font-weight: 300;
  padding: 0.5rem;
  font-size: 1.2rem; }

.title p {
  font-family: "Cairo", sans-serif; }

.info__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; }

@media screen and (max-width: 480px) {
  .main__index {
    padding-inline: 2rem; }
  .titles {
    padding-inline: 0; } }

.faq__container {
  margin-top: 4rem;
  padding: 3rem;
  margin-bottom: 2rem; }

.faq__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e24;
  font-family: primary-typo;
  margin-bottom: 2rem; }

.faq__list {
  display: flex; }

.faq__text {
  color: #1e1e24;
  font-family: secondary-typo; }

@media screen and (max-width: 480px) {
  .faq__container {
    flex-direction: column;
    display: flex;
    margin-top: 1rem;
    padding: 0px; }
  .faq__title {
    padding-top: 2rem; }
  .faq__list {
    flex-wrap: wrap;
    padding-inline: 3rem;
    justify-content: center;
    text-align: center; } }

footer {
  padding: 6% 20%;
  background-color: #1e1e24; }

footer p {
  display: flex;
  justify-content: center;
  color: #f7f0f0;
  font-family: "Fjalla One", sans-serif; }

.lfgmain {
  margin-top: 3%; }

.lfgtext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.lfg {
  display: flex; }

.lfg.col {
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%; }

.lfg img {
  width: 20%; }

.lfg p {
  text-align: center; }

.lfg2 {
  display: flex; }

.lfg2.col {
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%; }

.lfg2 img {
  width: 20%; }

.lfg2 p {
  text-align: center; }

.mainbox.container {
  margin-top: 10%; }

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center; }

.boxgeneral.container {
  display: flex; }

.box {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  position: relative; }

.box img {
  width: 100%;
  max-height: 350px;
  object-fit: cover; }

.boxtext {
  width: 85%;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 5%;
  top: 270; }

@media screen and (max-width: 480px) {
  .lfgmain {
    display: flex;
    flex-direction: column; }
  .lfg.container {
    text-align: center;
    flex-wrap: wrap; }
  .lfg.col {
    padding-inline: 7rem; }
  .lfg2.container {
    text-align: center;
    flex-wrap: wrap; }
  .lfg2.col {
    padding-inline: 7rem; } }

@media screen and (max-width: 480px) {
  .mainbox.container {
    display: flex;
    margin: 0px; }
  .textbox {
    display: flex;
    text-align: center; }
  .boxgeneral.container {
    display: flex;
    margin: 0px; }
  .box {
    display: flex; } }

.video {
  display: flex;
  width: 100%;
  justify-content: center; }

@media screen and (max-width: 480px) {
  .video {
    max-height: 300px; } }
