* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
}

ul li a {
  text-decoration: none;
  padding: 50px;
}

.bannerhero {
  background-image: url("../assets/imgs/banner2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px;
}

.text {
  display: flex;
  text-align: center;
}

.text_a {
}

.text_b {
}
