* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
@import "./colors.scss";
@import "./typo.scss";
@import "./base/header.scss";
@import "./sections/banner2.scss";
@import "./base/footer.scss";
@import "./card.scss";
@import "./sections/text.scss";
@import "./sections/video.scss";
@import "./base/footer.scss";
