* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
// HOME

@import "./base/colors.scss";
@import "./base/typo.scss";
@import "./base/header.scss";
@import "./banner.scss";
@import "./card.scss";
@import "./sections/index/text.scss";
@import "./base/footer.scss";

// LAFLACAGORDA
@import "./sections/laflacagorda/cardslfg.scss";
@import "./sections/laflacagorda/video.scss";
