* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
// BASE
@import "./base/colors.scss";
@import "./base/typo.scss";

// HOME
@import "./header.scss";
@import "./banner.scss";
@import "./cardsindex.scss";
@import "./titlesindex.scss";
@import "./faq.scss";
@import "./base/footer.scss";
// LAFLACAGORDA

@import "./cardslfg.scss";
@import "./videolfg.scss";
