.banner__hero {
  background-image: url("../assets/imgs/mainbanner.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.banner__hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner__hero__text h5 {
  font-family: $primary-typo;
  color: $secondary-color;
}
.banner__hero__text h2 {
  font-family: $primary-typo;
  color: $secondary-color;
}

.banner2__hero {
  background-image: url("../assets/imgs/montañita.jpg");
  height: 30vh;
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .banner__hero {
    max-height: 235px;
  }
  .banner__hero__text {
    top: 200px;
  }
  .banner2__hero {
    margin-top: 0rem;
  }
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
