// LAFLACAGORDA
// Primer GRILLA
.lfgmain {
  margin-top: 3%;
}
.lfgtext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lfg {
  display: flex;
}

.lfg.col {
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.lfg img {
  width: 20%;
}

.lfg p {
  text-align: center;
}

.lfg2 {
  display: flex;
}

.lfg2.col {
  flex: 1 0 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.lfg2 img {
  width: 20%;
}

.lfg2 p {
  text-align: center;
}

// SEGUNDA GRILLA

.mainbox.container {
  margin-top: 10%;
}
.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxgeneral.container {
  display: flex;
}

.box {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  position: relative;
}

.box img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.boxtext {
  width: 85%;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 5%;
  top: 270;
}

@media screen and (max-width: 480px) {
  .lfgmain {
    display: flex;
    flex-direction: column;
  }
  .lfg.container {
    text-align: center;
    flex-wrap: wrap;
  }

  .lfg.col {
    padding-inline: 7rem;
  }
  .lfg2.container {
    text-align: center;
    flex-wrap: wrap;
  }
  .lfg2.col {
    padding-inline: 7rem;
  }
}


// Chequear, supongo problemas con margins y/0 paddings. 
@media screen and (max-width: 480px) {
  .mainbox.container {
    display: flex;
    margin: 0px;
  }

  .textbox {
    display: flex;
    text-align: center;
  }

  .boxgeneral.container {
    display: flex;
    margin: 0px;
  }

  .box {
    display: flex;
  }
}