.card {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.card1 {
  background-color: $primary-color;
  width: 100%;
  height: auto;
  color: $secondary-color;
  font-family: $primary-typo;
  padding: 4%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card1 p {
  font-family: $secondary-typo;
}

.cardimg {
  width: 100%;
  height: auto;
}

.card3 {
  background-color: $primary-color;
  width: 100%;
  height: auto;
  color: $secondary-color;
  font-family: $primary-typo;
  padding: 4%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card3 p {
  font-family: $secondary-typo;
}
.card4 {
  display: flex;
  width: 50%;
  margin: -100px auto;
  text-align: center;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .card_container {
    flex-flow: column wrap;
    display: flex;
  }
  .card1 {
    padding: 20px;
    text-align: center;
    justify-content: center;
  }
  .card1 p {
    font-size: small;
  }
  .card1 h4 {
    font-size: medium;
  }
  .cardimg {
    height: auto;
    width: 100%;
  }
}
