.banner2 {
  display: flex;
  margin-top: 1%;
  width: 100%;
  height: auto;
}

.banner2img {
  width: 100%;
  height: auto;
}

.banner {
  display: flex;
  margin-top: 0.5%;
  width: 100%;
  height: auto;
}

.bannerimg {
  width: 100%;
  height: auto;
}

.banner4 {
  display: flex;
  margin-top: 0.5%;
  width: 100%;
  height: auto;
}

.banner4img {
  width: 100%;
  height: auto;
}
