button {
    font-family: $primary-typo;
    color: $secondary-color;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background-color: $active-color;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $hover-color;
    }
  }
