.container-fluid {
  background-color: $primary-color;
  padding: 20px;
  .row {
    justify-content: center;
    h4 {
      font-family: $primary-typo;
      color: $secondary-color;
    }
    p {
      font-family: $primary-typo;
      color: $secondary-color;
    }
  }
}
