header {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  padding: 6% 20%;
  align-items: center;
  .nav_links {
    list-style: none;
    display: flex;
  }
  .nav_links li {
    display: inline-block;
    padding: 0px 15px;
  }
  .nav_links li a {
    transition: all 0.3s ease 0s;
    &:hover {
      color: $hover-color;
    }
  }
  li a {
    font-family: $primary-typo;
    font-weight: 500;
    font-size: 20px;
    color: $secondary-color;
    text-decoration: none;
  }
}
button {
  font-family: $primary-typo;
  color: $secondary-color;
  font-weight: 500;
  font-size: 16px;
  padding: 5%;
  border: none;
  border-radius: 20%;
  background-color: $active-color;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    color: $primary-color;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .nav_links {
    flex-direction: column;
    font-size: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
