.textinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.textinfo img {
  width: 4%;
}
.text_info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}
